.main-head {
  grid-area: header;

}

.content {
  grid-area: content;
  min-height: 700px;
}


.main-nav {
  grid-area: nav;
  text-align: center;
}

.side {
  grid-area: sidebar1;
}

.side2 {
  grid-area: sidebar2;
}

.small-side {
  grid-area: small-side;
}

.main-footer {
  grid-area: footer;
}

.wrapper {
  padding: 5px;
  display: grid;
  gap: 10px;
  grid-template-areas: 
    "nav"
    "header"
    "content"
    "footer";
}

.logo {
  margin: 0 auto;
  justify-self: center;
  align-self: center;
  height: 200px;
  width: 300px;
}

@media(min-width: 800px) {
  .wrapper {
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
      "header       nav"
      "content      content"
      "footer       footer";
  }

  nav ul {
    display: flex;
    justify-content: space-between;
  }


}

@media (min-width: 800px) {
  .wrapper {
    grid-template-columns: 3fr 3fr;
    grid-template-areas: 
    "header     nav"
    "content    content"
    "content    content"
    "footer     footer ";
  }
}

@media (max-width: 800px) {
  .main-head {
    text-align: center;
  }
}
