.animal-to-adopt {
    border-radius: 10px;
    background-color: #fa62c2 ;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5px;
    min-width: 450px;
}

.adopt-item-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.adopt-item {
    font-size: 2.2rem;
    font-weight: bold;
}

.adoption-images {
    margin: 5px;
    border-radius: 10px;
    width: auto;
    height: auto;
    max-height: 450px;
    max-width: 450px;
}

.bold {
    font-weight: bold;
}

.maxWidth {
    max-width: 500px;
}

/* Gallery Page */

.gallery-container {
    text-align: center;
}

.cat-button, .dog-button {
    margin: 5px;
}

.adoption-choice-container {
    margin: 10px auto;
    width: 200px;
    display: flex;
    justify-content: space-evenly;
}