.mission-statement {
    margin-top: 10rem;
    color: black;
    
}

.mission-statement-div {
    width: 25%;
}

.main-gallery-div {
    width: 30%;
    height: 30%;
    border: 3px solid #f991f8;
    border-radius: 10px;
}

.temp-image {
    width: 100%;
    height: 80%;
    border-radius: 8px;
}